.landing-first-section{
  background: url("assets/images/bg2.jpg");
  height: 500px;
  color: white;
  background-repeat: no-repeat;
  background-size:cover;
  text-align: center;
}
.containerul{
    width: 800px;
    margin-left: 23%;
}
.landing-first-section a{
  margin-top: 120px;
  text-decoration: none;
  font-size: 25px;
  border-radius: 100px;
  border: 2px solid white;
  text-align: center;
  padding: 10px;
  width: 150px;
  font-family: sans-serif;
  color:white;
}
.landing-first-section a:hover{
  background: rgb(150, 150, 150);
  text-decoration: none;
  color:white;
}
#iconita{
  size:100px;
}
.butoane{
  background-color: #4ED7D7;
  height:300px;
}
.image-wrapper{
  position: relative;
  margin:auto;
  width: 100px;
  height: 100px;
  padding: 15px;
  border: 2px solid;
  border-radius: 50%;
}
.col-inline{
padding-top: 100px;
padding-bottom: 20px;
display: inline-block;
width: 33%;
height: 33%;
}
.image-wrapper:hover{
  background: rgb(150, 150, 150);
}
.image-wrapper img{
  top:50%;
  left:50%;
  margin-left: -30px;
  margin-top: -30px;
  position: absolute;
}
.butoane h1{
  text-align: center;
  font-size: 30px;
  font-family: cursive;
  margin: 0px;
}
.butoane p{
  margin-bottom: 0;
  padding-top:3px;
  text-align: center;
}
#footer{
height:1200px;
background-color: #153636
}
#title1{
  color:white;
  text-align: center;
  font-size: 30px;
  font-family: cursive;
  margin: 0px;
}
#title2{
  color:white;
  margin-bottom: 0;
  padding-top:3px;
  text-align: center;
}
#banner-text{
padding-top: 100px;
}
#banner-text h1{
  padding-bottom: 20px;
}
.col-image img{
width: 100%;
margin-bottom: 30px;
}
.row{
  margin-top:60px;
}
.col-image img:hover{
    transform:scale(1.1);
    transition: 1.5s;
    opacity: 0.5;
}
