.fundal2{
  background-color: black;
  height:60px;
  margin: 0;
  width: 100%;
  position: fixed;
}
.fundal3{
background-color:#4ED7D7;
color:white;
margin:0;
}
#legend{
margin:0;
font-size:30px;
font-family: monospace;
}
.form{
      width:50%;
      margin:auto;
      padding-top: 140px;
}
.form input[type="text"],.form input[type="password"]{
width: 650px;
height:30px;
background-color: inherit;
border: 2px solid white;
margin-top: 15px;
margin-bottom: 15px;
}
.form input[type="checkbox"]{
  width: 15px;
  height:15px;
  vertical-align: bottom;
  margin: 0;
}
.form input[type="submit"]{
  width: 80px;
  height:30px;
  color:white;
  background-color: inherit;
  border: 2px solid white;
  border-radius: 2px;
}
.form input[type="submit"]:hover {
  background-color: white;
  color:grey;
  border-color: grey;
}
.form a{
color:white;
font-size: 20px;
text-decoration: none;
}
.form a:hover{
text-decoration: none;
color:grey;
}
