#banner{
  background-color:#4ED7D7;
  height:200px;
}
#banner h1{
  padding-top: 85px;
  text-align: center;
  font-size: 48px;
  color:black;
}
#title1{
  text-align: center;
}
#title2{
  text-align: center;
}
#top{
  background-color: #F3F3F3;
}
.col-image img{
  width: 100%;
  margin-bottom: 13%;
  border-radius : 5px 5px 0px 0px;
}
.col-image h4{
  margin-left: 3px;
}
.card{
  box-shadow: 0px 5px 0px #EBEBEB;
  border-radius: 5px;
}
.col-image img:hover{
  transition:1s;
  transform: scale(0.98);
  opacity: 0.8;
}
ul{
  list-style: none;
}
ul input{
  border-radius: 3px;
  border: 1px solid #BEBEBE;
  width: 240px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.stanga{
  margin-top: 143px;
}
.stanga h3:nth-child(2){
  margin-top: 123px
}
.stanga h3:last-child{
  margin-top: 114px;
}
.imagini-dreapta img{
  border-radius: 5px;
}
.col-image1 img{
  position: relative;
}
.salebubble{
  text-align: center;
  line-height: 46px;
  margin-top: -22px;
  z-index: 20;
  right:0;
  background-color: red;
  position: absolute;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  color:white;
}
