#top{
  background-color: #F3F3F3;
}
#title2{
  text-align: center;
}
.subtextul{
  margin-top: 10px;
}
.sectiunejos{
  margin-top: 60px;
}
.sectiunejos a{
  color:#FC5454;
}
.sectiunejos .nav-tabs .active {
border-top: 3px solid #FC5454;
border-radius: 8px;
}
#home,#menu1,#menu2{
  margin-top: 10px;
}
#menu1 tbody{
  background-color: #FC5454;
}
